/* Map Styles */








a.hide-overlay { display: none; }

/* Container */
.map-wrap {
	z-index: 99;
	position: relative;
	clear: both;
	background-color: #2A2B2C;
	border-top: 1px solid #2A2B2C;
/*
-moz-box-shadow:    0px 30px 40px -5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 30px 40px -5px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 30px 40px -5px rgba(0, 0, 0, 0.5);
	*/
}
#3damap { width:100%; height:400px; }
#3damap * { overflow: visible; }

/* Initial state - "map disabled" mode */
.map-overlay {
	z-index: 999;
	position: absolute;
	width: 100%;
	height: 400px;
	background-color: rgba(0,0,0,0.1);
	display: none;
}
.map-overlay strong {
	position: absolute;
	top: 10%;
	text-align: center;
	width: 100%;
	font-size: 30px;
	font-family: Sans-Serif;
	font-weight: 600;
	line-height: 30px;
	color: #2A2B2C;
	text-shadow: 0px 1px 1px #FFF;
	padding: 10px 0;
	display: block;
}
.map-overlay strong { font-style: normal; }
a.map-overlay:hover { background-color: rgba(242,242,242,0.6); }

/* Active state - "map enabled" mode */
.map-overlay-lock {
	z-index: 99999;
	position: fixed;
	width: 100%;
	height: 40px;
	text-align: center;
	display: none;
}
.map-overlay-lock strong {
	font-size: 26px;
	font-family: Sans-Serif;
	font-weight: 600;
	background-color: #2A2B2C;
	color: #EEC43D;
	border-bottom: 5px solid #EEC43D;
	padding: 15px;
	text-transform: uppercase;
	display: block;
	top: 0;
	line-height: 30px;
	display: block;
}
a.map-overlay-lock:hover strong {
	/*
	color: #EEC43D;
	background-color: #2A2B2C;
	*/
	background-color: #404040;
	color: #EEC43D;
	border-bottom: 5px solid #EEC43D;
/*		background-color: #EEC43D;
	color: #2A2B2C;
*/	}



a.map-overlay strong { text-transform: uppercase; }
a.map-overlay strong span.touch { display: inline; }
a.map-overlay strong span.screen { display: none; }

/* Overlay adjustments for desktop devices (over 992px) */
@media (min-width: 992px) {
	a.map-overlay strong span.touch { display: none; }
	a.map-overlay strong span.screen { display: inline; }
	.map-overlay-lock a {
		padding: 38px 0;
		font-size: 30px;
		line-height: 29px;
	}
	.contact-left {
		float: left;
		width: 300px;
		padding: 0 0 10px 0;
		margin: 25px 0px 20px 0px;
	}
	.contact-right {
		float: right;
		width: 600px !important;
		padding: 0 0 10px 0;
		margin: 25px 0px 20px 0px;
	}
}


/* Responsive styles */

@media screen and (min-width:0px) and (max-width:970px) {
	.google-map-placeholder ,#contactform {width:100% !important;}
	#contactform .commentfield input ,#contactform .commentfieldarea textarea{width:95%;}
	#contactform .contactbutton .contact-button {float:none;}
	.contactbutton{text-align:center}
}


.active { display: block; }
