@import "reset";

/* Container */
#gmpl-wrapper {
	z-index: 99;
	position: relative;
	clear: both;
	background-color: rgba(255, 255, 255, 0);
}

/* Map Embed */
#gmpl-map { width: 100%; height: 400px; }
#gmpl-map * { overflow: visible; }

/* Overlay (default locked state) */
.gmpl-overlay {
	z-index: 999;
	position: absolute;
	width: 100%;
	height: 400px;
	background-color: rgba(0,0,0,0.3);
	display: none;
	strong {
		position: absolute;
		display: block;
	}
	strong,
	strong span {
		top: 10%;
		text-align: center;
		width: 100%;
		font-size: 30px;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 30px;
		color: #2A2B2C;
		text-shadow: 0px 1px 1px #FFF;
		padding: 10px 0;
	}
}
.gmpl-overlay:hover {
	background-color: rgba(0,0,0,0.2);
}

/* Button (unlocked state) */
.gmpl-btn-lock {
	z-index: 99999;
	position: fixed;
	top: 0;
	right: 0;
	margin: 5px;
	text-align: center;
	text-decoration: none;
	display: none;
	strong {
		display: block;
		font-size: 14px;
		font-weight: bold;
		background-color: #ececec;
		border: 1px solid #4a4f52;
		color: #242424;
		padding: 15px;
		text-transform: uppercase;
		display: block;
		line-height: 14px;
		-webkit-box-shadow: 0 8px 6px -6px black;
		   -moz-box-shadow: 0 8px 6px -6px black;
		        box-shadow: 0 8px 6px -6px black;
	}
}
.gmpl-btn-lock:hover strong {
	background-color: #4a4f52;
	color: #ececec;
}

/* Responsive classes */
.gmpl-overlay span.touch { display: inline; }
.gmpl-overlay span.desktop { display: none; }

@media (min-width: 992px) {
	.gmpl-overlay span.touch { display: none; }
	.gmpl-overlay span.desktop { display: inline; }
	.gmpl-btn-lock a {
		padding: 38px 0;
		font-size: 30px;
		line-height: 29px;
	}
}

.active { display: block !important; }
